*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

li {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* background-color: rebeccapurple; */
    height: 100vh;
    display: flex;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


.pfp {
    height: 70px;
}

header,
nav {
    width: 100%;
    height: fit-content;
    position: sticky;
    z-index: 1000;
    top: 0;
    margin-bottom: 20px;
}

nav ul {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgba(15, 15, 15, 0.911);
    padding: 13px 20px 13px 20px;
}

nav ul span {
    gap: 40px;
    width: 100%;
    display: flex;
}

.nav-item {
    text-transform: uppercase;
    gap: 10px;
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    color: rgb(0, 0, 0);
}

.nav-item:hover {
    text-decoration: line-through 2px;
}

.nav-item img {
    color: black;
    height: 2.5rem;
}

a {
    text-decoration: none;
}

.login-info {
    gap: 35px;
    display: flex;
}

.login-info div:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    background-color: #f5f5f5;
    height: 100%;
    width: 60%;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.bio-container {
    font-size: 1.2rem;
    margin: 30px 0;
}

.bio-container p {
    margin: 0 auto;
    width: 90%;
}

.logo {
    width: 13rem;
}

.albums {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albums .albums-container {
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    text-orientation: upright;
}

.albums .albums-container img {
    border-radius: 6px;
    object-fit: cover;
}

.albums .albums-container {
    justify-content: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    text-orientation: upright;
}

.albums .albums-container .album-cover {
    width: 70%;
    display: flex;
    position: relative;
}

.albums .albums-container .album-cover h2 {
    font-size: 1.1rem;
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    background-color: #c42828ad;
    color: #f5f5f5;
}

.albums .albums-container .album-cover:hover {
    border-radius: 6px;
    transition: transform 0.5s;
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.288);
    transform: scale(1.05);
    cursor: pointer;
}

/* WebKit Scrollbars (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
    /* width */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track */
}

::-webkit-scrollbar-thumb {
    background: #b93434;
    /* Handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #942121;
    /* Handle on hover */
}

/* Firefox Scrollbars */
* {
    scrollbar-width: thin;
    /* auto, thin, none */
    scrollbar-color: #b93434 #f1f1f1;
    /* Handle color Track color */
}


.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

.album-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Abril Fatface", serif;
    letter-spacing: 2px;
    color: #000000;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.album-container p {
    width: 60%;
    background-color: #f5f5f5e3;
    padding: 30px;
    font-size: 1.1rem;
    border-radius: 12px;
}

.songs {
    width: 60%;
    margin-bottom: 20px;
}

.songs li {
    display: flex;
    border-radius: 4px;
    height: 70px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f5f5f5d0;
}

.songs li:hover {
    transition: transform 0.3s;
    transform: scale(1.02);
}

.first-half {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.songs li span img {
    width: 40px;
    border-radius: 4px;
}

.second-half {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    position: relative;
}

.songs li .second-half img {
    cursor: pointer;
}

.songs li .second-half img:hover,
.songs .add-song:hover {
    filter: contrast(120%) brightness(110%);
}

.songs .add-song {
    background-color: #b93434d3;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.first-half span:nth-child(1) {
    font-weight: 500;
}

.first-half h3 {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 1rem;
    font-weight: 600
}

.second-half span:nth-child(2) {
    font-weight: 600;
}

.second-half span:nth-child(1) {
    font-weight: 600;
    color: #b93434;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 13px solid #646464;
    border-bottom: 7px solid transparent;
}

.add-album h2 {
    color: white;
    font-size: 4rem;

}

.add-album {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 7px;
    background-color: rgba(167, 17, 17, 0.671);
}

.add-album:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
    filter: saturate(120%)
}

@media (max-width: 1350px) {
    .albums .albums-container .album-cover {
        width: 100%;
    }

    .songs {
        width: 80%;
    }

    .album-container p {
        width: 80%;
    }

    .second-half {
        gap: 20px;
    }
}

@media (max-width: 960px) {
    .albums-logo {
        width: 90%;
    }

    .songs {
        width: 80%;
    }

    .album-container p {
        width: 80%;
    }

    .second-half {
        gap: 20px;
    }

    .second-half span:nth-child(2) {
        display: none;
    }

    .nav-item {
        font-size: 1rem;
    }

    .right-container header nav ul span {
        gap: 20px;
    }

    .right-container header nav ul span {
        justify-content: center;
        align-items: center;
    }

    .login-info {
        gap: 10px;
    }
}

@media (max-width: 800px) {
    .logo {
        margin-top: 40px;
    }

    .albums-logo {
        width: 50%;
        margin: 30px 0;
    }

    .albums .albums-container .album-cover {
        width: 85%;
    }

    body {
        flex-direction: column-reverse;
        height: auto;
    }

    .bg {
        z-index: 1;
    }

    .bg video {
        height: 600px;
    }

    main {
        margin-top: 420px;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .right-container {
        height: auto;
        overflow: hidden;
    }

    .container {
        height: auto;
    }

    .songs li .first-half span,
    .songs li .first-half div {
        display: none;
    }

    .songs li .first-half h3 {
        font-size: 13px;
    }

    .songs li {
        padding: 0;
    }

    .songs li span img {
        height: 100%;
        width: 20%;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .second-half {
        font-size: 13px;
    }

    .second-half span:nth-child(3) {
        height: 100%;
        font-size: 90px;
        display: flex;
    }

    .second-half span:nth-child(3) img {
        width: 2rem;
        height: 100%;
        font-size: 90px;
        margin-right: 3rem;
    }
    .modal input[type="button"]{
        width: 100% !important;
        }
    .modal{
        width: 80% !important;
    }
}

@media (max-width: 480px) {
    .nav-item {
        font-size: 0.8rem;
    }

    .login-info {
        gap: 0;
    }
    .modal form {
        width: 80% !important;
    }
}

.hide{
    display: none !important;
}
.modal {
    display: flex;
    border-radius: 0.5rem;
    background-color: #b93737;
    position: fixed;
    height: 70%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    box-shadow: 0 0 2px 100vw rgba(24, 0, 0, 0.568);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;;
}

.modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60.666%;
    gap: 5px;
}

.modal label {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}

.modal input[type="text"],
.modal input[type="date"],
.modal input[type="url"] {
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    border: 1px solid #d1d5db;
    width: 100%;
    margin-bottom: 20px;
}

#description {
    padding: 3rem;
}

.modal .md\:flex {
    display: flex;
    gap: 2.5rem;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fc8181;
    border-radius: 0.5rem;
    position: absolute;
    top: -0.375rem;
    right: -0.375rem;
    color: black;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}

.modal input[type="button"] {
    background-color: #fc8181;
    border: none;
    cursor: pointer;
    padding: 1.25rem;
    width: 40%;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: transform 0.2s;
}

.modal input[type="button"]:hover {
    transform: scale(1.02);
}

.modal #description {
    padding: 40px;
}

.close:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}


.fa-star{
    color: rgb(43, 43, 43);
    font-size: 2.1rem;
}
.fa-star:hover{
    transition: transform 0.1s;
    transform: rotate(25deg);
}
.fa-pencil:hover{
    transition: transform 0.1s;
    transform: rotate(20deg);
}

.checked{
    color: rgb(230, 186, 68);
}
.fa-pencil{
    font-size: 2.1rem;
    color: rgb(39, 39, 39);
}
.album-options{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.edit{
    background-color: rgb(34, 34, 34);
    border: none;
}